

html, body {
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
}

footer {
  margin: 50px 0 0 0;
  color: #666;
  display: flex;
  flex-shrink: 0;
}

footer p {
  margin-bottom: 0;
}

footer div {
  flex: 1;
}

footer .pkgdown {
  text-align: right;
}

footer p {
  margin-bottom: 0;
}

img.icon {
  float: right;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Section anchors ---------------------------------*/

a, a.hover, a.focus {
  font-weight: bold;
  cursor: pointer;
}

a.anchor {
  margin-left: -30px;
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;

  background-image: url(./link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
}

@media (max-width: 767px) {
  .hasAnchor:hover a.anchor {
  visibility: hidden;
  }
}

/* tables ---------------------------------*/

/* status-table */

.status-table {
  width: 100%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.status-table td {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.status-table td:nth-child(1) {
  width: 40%;
}

.status-table td:nth-child(2) {
  width: 60%;
}

/* source-table */

.source-table {
  width: 100%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.source-table td {
  width: 100%;
  text-align: left;
  padding: 10px 30px 10px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.source-table td:nth-child(1) {
  width: 20%;
}

.source-table td:nth-child(2) {
  width: 60%;
}

.source-table td:nth-child(3) {
  width: 20%;
}

/* get-table */

.get-table {
  width: 100%;
  border: 1px solid gray;
}

.get-table td {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.get-table td:nth-child(1) {
  width: 20%;
}

.get-table td:nth-child(2) {
  width: 20%;
}

.get-table td:nth-child(3) {
  width: 60%;
}

/* api-table */

.api-table  {
  width: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray; 
}

.api-table td {
  text-align: left;
  padding: 10px 30px 10px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.api-table td:nth-child(1) {
  width: 20%;
}

.api-table td:nth-child(2) {
  width: 30%;
}

.api-table td:nth-child(3) {
  width: 30%;
}

.api-table td:nth-child(4) {
  width: 20%;
}

/* tag-table */

.tag-table {
  width: 100%;
  border: 1px solid gray;
}

.tag-table td {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.tag-table td:nth-child(1) {
  width: 20%;
}

.tag-table td:nth-child(2) {
  width: 80%;
}

/* link-table */

.link-table  {
  width: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray; 
}

.link-table td {
  text-align: left;
  padding: 10px 30px 10px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.link-table td:nth-child(1) {
  width: 20%;
}

.link-table td:nth-child(2) {
  width: 20%;
}

.link-table td:nth-child(3) {
  width: 40%;
}

.link-table td:nth-child(4) {
  width: 20%;
}

/* Sidebar --------------------------*/

#pkgdown-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

#pkgdown-sidebar h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

#pkgdown-sidebar h2:first-child {
  margin-top: 0;
}

#pkgdown-sidebar .list-unstyled li {
  margin-bottom: 0.5em;
}

#dashboard-container{
  position: fixed;
  left: 0;
  padding: 30px 20px 10px 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar-nav > li {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}

/* Nice scrolling for wide elements --------------------------------------- */

table {
  width: 100%;
  overflow: auto;
}

/* don't display links in code chunks when printing */
/* source: https://stackoverflow.com/a/10781533 */
@media print {
  code a:link:after, code a:visited:after {
    content: "";
  }
}

/* my own style ------------------------ */

.version-label {
  background-color: black;
  color: white;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
}

.code {
  background-color: #f0f0f0;
  padding: 5px;
  border: none;
  color: #1f78b4;
  font-family: Verdana;
}

.highlight-text{
  color: #1f78b4;
}

.img-box {
  border: 1px solid black;
}

.favicon {
  top: 10px;
  right: 13%;
  position: fixed;
  height: auto;
  background: inherit;
  outline: none;
  z-index: 99999;
}

.contents{
  padding: 10px 30px 0 30px;
}

.main-header {
  font-weight: bold;
}

.copyright{
  padding: 10px 0 10px 0;
}

pre {
  border: 1px solid gray;
}

.output {
  padding: 20px 20px 20px 20px;
  background-color: none;
  border: 2px solid red;
  font-weight: bold;
}
