
/*----------------------------------------*/
/* MAIN TEMPLATE CSS
/*----------------------------------------*/

html, body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* change the shiny gray background */
body.disconnected {
  background-color: transparent;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	font-weight: 600;
}


h2 {
	font-size: 48px;
}


h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}


p {
	font-size: 14px;
	color: #808181;
	line-height: 1.8;
}

 
img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

label {
  color: black;
  display: inline-block;
  margin-bottom: 0.5rem; 
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; 
}

button,
input {
  overflow: visible; 
}

button,
select {
  text-transform: none; 
}

select option{
  height: 100px;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; 
}

textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
}

/*---------------------
   style my buttons 
-----------------------*/

.mybuttons {
 color: black; 
 background-color: #F8F5F0; 
 padding: 10px 10px 10px 10px; 
 border: 1px solid lightgray;
 text-align: center; 
 display: inline-block; 
 font-size: 12px;
}

.mybuttons:hover {
 color: white; 
 font-weight: bold;
 background-color: #08306b; 
 border: 1px solid black;
 padding: 10px 10px 10px 10px; 
 text-align: center; 
 display: inline-block; 
 font-size: 12px;
}

#sign_out_btn:hover{
  color: black;
  font-weight: bold;
}

/*---------------------
   style select-input 
-----------------------*/

.selectize-input.input-active, .selectize-input.input-active:hover, .selectize-control.multi, .selectize-input.focus {
	text-align: left; 
	border-color: #00008B !important;
	z-index: 99999;
}

.selectize-dropdown .active {
  text-align: left; 
  background: #FFE4C4 !important; 	
  z-index: 99999;
}

.selectize-input{
  text-align: left; 
  margin-right: 20px;
  z-index: 99999;
}

.selectize-dropdown {
  text-align: left; 	
  z-index: 99999;
}

/*---------------------
	tooltip style
-----------------------*/

.tooltip-inner {
  text-align: left;
}
  
/*---------------------
	Media CSS
-----------------------*/

@media (min-width: 50px) {
  .text-md-left {
    text-align: left !important; 
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important; 
  } 
}

/*---------------------
	Header section
-----------------------*/

.project-page {
	position: absolute;
	top: 0;
  width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.header-container {
	position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;
  background: #f2f7f8;
  /* border: 1px solid black; */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.header-container > [class*="col-"] {
  width: 100%;
  float: none;
  display: table-cell;
  vertical-align: center;
	padding: 0 20px 0 20px;
	margin: 0 0 0 0;
}

.body-container {
  width: 100%;
  overflow: hidden;
  background: white;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  /*border: 2px solid black;*/
}

.footer-container {
  width: 100%;
  background: white;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  /*border: 2px solid black;*/
}

.portal-about, .portal-annotation, .portal-chemical, .portal-marker, .portal-heatmap, .portal-taxonomer, .portal-compare-multiple {
  width: 100%;
	margin: 0 0 0 0;
	padding: 20px 0 20px 0;
}

.portal-about > [class*="col-"], .portal-annotation > [class*="col-"], .portal-chemical > [class*="col-"], .portal-marker > [class*="col-"],
.portal-heatmap > [class*="col-"], .portal-taxonomer > [class*="col-"], .portal-compare-multiple > [class*="col-"]{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.main-page{ 
  margin: 0 0 0 0;
  padding: 0 0 0 0;  
}

.portal-page{
  padding: 20px 20px 20px 20px;
  margin: 50px 0 0 0;
}

.highlight-title{
  width: 100%;
  background-color: #CCCCFF;
  padding: 10px 10px 10px 10px;
}
        
.about-page{
  padding: 20px 20px 20px 20px;
  margin: 50px 0 0 0;
}
  
.contact-page{
  padding: 20px 20px 20px 20px;
  margin: 50px 0 0 0;
}

.sign-in-page{
  padding: 20px 20px 20px 20px;
  margin: 50px 0 0 0;
}

/* Responsive layout */
@media (max-width: 850px) {
  .portal-page {
    margin: 80px 0 0 0;
  }
  
  .about-page {
    margin: 80px 0 0 0;
  }
  
  .contact-page {
    margin: 80px 0 0 0;
  }  

  .sign-in-page {
    margin: 80px 0 0 0;
  }
  
}

/*--------------------
    Navigation Bar 
--------------------*/

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
   background: rgb(209, 68, 20); color: white; font-weight: bold;
} 

/* HTML active tab for marker page */

.tabbable {
  border: none;
}

.tabbable > .nav > li > a {
	font-size: 14px;
	min-height: 20px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 2px solid #40424a;
	font-weight: 700;
	color: #3182bd; 
}

.dropdown-menu > li > a:hover, .tabbable > .nav > li > a:hover{
  background: lightgray; font-weight: 600; color: white; 
}

.dropdown-menu > li > a:focus, .tabbable > .nav > li > a:focus{
  background: rgb(209, 68, 20); font-weight: 600; color: white; 
}  

.tabbable > .nav > li[class=active] > a,
.tabbable > .nav > li[class=active] > a:hover, 
.tabbable > .nav > li[class=active] > a:focus {
  background: rgb(209, 68, 20); color: white; font-weight: bold;
}  


/* Site Links */

.site-link {
	display: inline-block;
	font-size: 16px;
	min-width: 40px;
	min-height: 20px;
	padding: 0 10px 0 0;
	text-align: center;
	position: relative;
	color: #40424a;
	font-weight: 700;
	outline: none;
	background: #f2f7f8;
	border: none;
}

a.site-link:focus, a.site-link:hover{
  text-decoration: underline; color: #3182bd; font-weight: italic; background: none;
}

a.site-link[class=active]{
  text-decoration: underline; color: #3182bd; background: none;
}

/* Portal Links */
.portal-link {
	min-width: 40px;
	min-height: 20px;
	padding: 0 0 0 0;
	text-align: center;
	color: #3182bd;
	position: relative;
	outline: none;
	background: white;
	border: none;
}

a.portal-link:focus, a.portal-link:hover{
  text-decoration: underline; color: #3182bd; font-weight: 700; background: none;
}

a.portal-link[class=active]{
  text-decoration: underline; color: #3182bd; font-weight: 700; background: none;
}

/* Morpheus Links */

.morpheus-site-link {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #40424a;
	font-weight: 700;
}

/*  Main Table */

#main_table table {
    width: 100%;
    border: 1px solid black; 
} 

#main_table th, td {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
	border-collapse: collapse;
}

#main_table td:nth-child(1) {
	color: #3182bd;
    width: 15%;
}

#main_table td:nth-child(2) {
    width: 15%;
}

#main_table td:nth-child(3) {
    text-align: left;
}

/* Clustering Table */

#clusteringTable table {
  width: 100%;
  border-collapse: collapse;
} 

#clusteringTable td, th{
  background: white;
  text-align: left;
  vertical-align: center;
	border: 1px solid lightgray; 
	padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#clusteringTable td:nth-child(1) {
  width: 50%; 
  vertical-align: top;
}

#clusteringTable td:nth-child(2) {
  width: 50%; 
  vertical-align: top;    
}

/* Project Table */
#projecttable table {
  width: 100%;
  border: 1px solid black; 
} 

#projecttable td, th {
  background: white;
  text-align: center;
  vertical-align: center;
	border: 1px solid lightgray; 
  border-collapse: collapse;
  padding: 5px 5px 5px 5px;
}

#projecttable td:last-child {
  text-align: left;
  width: 40%;
}

/* Login Table */
#logintable table {
  width: 100%;
  border: 1px solid black; 
} 

#logintable td, th {
  background: white;
  text-align: center;
  vertical-align: center;
	border: 1px solid lightgray; 
  border-collapse: collapse;
  padding: 5px 5px 5px 5px;
}

/*  Annotation Table */

#annotation_table {
} 

#annotation_table table {
  width: 100%;
  border: 1px solid black; 
} 

#annotation_table th, td {
  background: white;
  vertical-align: center;
  border: 1px solid lightgray;
	border-collapse: collapse;
  padding: 5px 5px 5px 5px;
}

/*  Chemical Table */

#chemical_table table {
    width: 100%;
    border: 1px solid black;
} 

#chemical_table td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/* Gene Expression Table */

#gene_expression_table {
} 

#gene_expression_table table {
    width: 100%;
    border: 1px solid black;    
} 

#gene_expression_table td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  Gene Set Enrichment Table */

#gene_set_enrichment_table {
} 

#gene_set_enrichment_table table {
    width: 100%;
    border: 1px solid black;
} 

#gene_set_enrichment_table td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/* Connectivity Table */

#connectivity_table {
}

#connectivity_table table {
    width: 100%;
    border: 1px solid black;
} 

#connectivity_table td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/* Marker Table */

#marker_table {
}

#marker_table table {
    width: 100%;
    border: 1px solid black;
} 

#marker_table td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  Info Table */

#infoTab table {
    width: 100%;
    border: 1px solid black;
} 

#infoTab td, th {
    background: white;
    vertical-align: center;
    text-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  Meta-Variable Table */

#metaVarTab table {
    width: 100%;
    border: 1px solid black;
} 

#metaVarTab td, th {
    background: white;
    vertical-align: center;
    text-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  DGE Table */

#DGE table {
    width: 100%;
    border: 1px solid black;
} 

#DGE td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  HE Table */

#HE table {
    width: 100%;
    border: 1px solid black;
} 

#HE td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  DGEmulti Table */

#DGEmulti table {
    width: 100%;
    border: 1px solid black;
} 

#DGEmulti td, th {
    background: white;
    vertical-align: center;
	border: 1px solid lightgray;
   	border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/*  HEmulti Table */

#HEmulti table {
    width: 100%;
    border: 1px solid black;
} 

#HEmulti td, th {
    background: white;
    vertical-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

/* fluid column with same height */

.col-container-1 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-1 > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: 1px solid lightgray;
    padding: 0 0 0 0;
	  margin: 0 0 0 0;
    width: 100%;
}

.col-container-2 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-2 > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid lightgray;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

.col-container-3 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-3 > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: 1px solid lightgray;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

/* panel-group options */

.header-1 {
	margin-bottom: 10px;
}

.header-1 .content{
	overflow: visible;
    padding: 10px 10px 10px 10px;
	margin-bottom: 30px;
    background-color: none;
	z-index: 9999;
}

.header-1 .title{
    display: block;
    max-height: 100px;
    background-color: orange;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* panel-group options */

.header-2 {
	margin-bottom: 10px;
}

.header-2 .content{
	overflow: auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
	z-index: 9999;
}

.header-2 .title{
    display: block;
    max-height: 100px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* panel-group options */

.header-3 {
	margin-bottom: 10px;
}

.header-3 .content{
	overflow: auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
	z-index: 9999;
}

.header-3 .title{
    display: block;
    max-height: 100px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* panel-group options */

.header-4 {
	margin-bottom: 10px;
}

.header-4 .content{
	overflow: auto;
    padding: 0 0 0 0;
    background-color: white;
	z-index: 9999;
}

/* Style the loader with blue color */

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #464dff, 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.5), -1.8em -1.8em 0 0em rgba(70,77,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.7), 1.8em -1.8em 0 0em #464dff, 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.5), 1.8em -1.8em 0 0em rgba(70,77,255, 0.7), 2.5em 0em 0 0em #464dff, 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.5), 2.5em 0em 0 0em rgba(70,77,255, 0.7), 1.75em 1.75em 0 0em #464dff, 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.5), 1.75em 1.75em 0 0em rgba(70,77,255, 0.7), 0em 2.5em 0 0em #464dff, -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.5), 0em 2.5em 0 0em rgba(70,77,255, 0.7), -1.8em 1.8em 0 0em #464dff, -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.5), -1.8em 1.8em 0 0em rgba(70,77,255, 0.7), -2.6em 0em 0 0em #464dff, -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.5), -2.6em 0em 0 0em rgba(70,77,255, 0.7), -1.8em -1.8em 0 0em #464dff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #464dff, 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.5), -1.8em -1.8em 0 0em rgba(70,77,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.7), 1.8em -1.8em 0 0em #464dff, 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.5), 1.8em -1.8em 0 0em rgba(70,77,255, 0.7), 2.5em 0em 0 0em #464dff, 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.5), 2.5em 0em 0 0em rgba(70,77,255, 0.7), 1.75em 1.75em 0 0em #464dff, 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.5), 1.75em 1.75em 0 0em rgba(70,77,255, 0.7), 0em 2.5em 0 0em #464dff, -1.8em 1.8em 0 0em rgba(70,77,255, 0.2), -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.5), 0em 2.5em 0 0em rgba(70,77,255, 0.7), -1.8em 1.8em 0 0em #464dff, -2.6em 0em 0 0em rgba(70,77,255, 0.2), -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.5), -1.8em 1.8em 0 0em rgba(70,77,255, 0.7), -2.6em 0em 0 0em #464dff, -1.8em -1.8em 0 0em rgba(70,77,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(70,77,255, 0.2), 1.8em -1.8em 0 0em rgba(70,77,255, 0.2), 2.5em 0em 0 0em rgba(70,77,255, 0.2), 1.75em 1.75em 0 0em rgba(70,77,255, 0.2), 0em 2.5em 0 0em rgba(70,77,255, 0.2), -1.8em 1.8em 0 0em rgba(70,77,255, 0.5), -2.6em 0em 0 0em rgba(70,77,255, 0.7), -1.8em -1.8em 0 0em #464dff;
  }
}

/* Style the loader for main page */

#loading-content {
  position: absolute;
  background: #40424a;
  opacity: 1;
  z-index: 100;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #0dc5c1;
  height: 0;
}

.loader {
  color: red;
  margin: 200px auto 100px auto; 
  padding: 0 0 0 0;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#loading_text {
  color: lightgray; 
  opacity: 0.9;
  padding-bottom: 100px;
}

#portal_id {
  display: inline-block;
}

#change_btn {
  display: inline-block;
  padding: 5px 5px 5px 5px;
}