
/*----------------------------------------*/
/* MAIN TEMPLATE CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	background-color: #40424a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0 0 10px 0;
	font-weight: 600;
}


h2 {
	font-size: 48px;
}


h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}


p {
	font-size: 14px;
	color: #808181;
	line-height: 1.8;
}


img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

label {
  color: black;
  display: inline-block;
  margin-bottom: 0.5rem; 
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/*---------------------
   style my buttons 
-----------------------*/
 
.mybuttons{
 color: black; 
 background-color: #F8F5F0; 
 padding: 10px 10px 10px 10px; 
 text-align: center; 
 display: inline-block; 
 font-size: 12px;
}

/*---------------------
   style select-input 
-----------------------*/

.selectize-input.input-active .selectize-input.input-active:hover .selectize-control.multi .selectize-input.focus {text-align: left; border-color: #00008B !important;}

.selectize-dropdown .active {text-align: left; background: #FFE4C4 !important;}

.selectize-input{text-align: left; margin-right: 20px;}

.selectize-dropdown {text-align: left;}

/*---------------------
	tooltip style
-----------------------*/

.tooltip-inner {
    text-align: left;
}
  
/*---------------------
	Media CSS
-----------------------*/

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

/*---------------------
	Header section
-----------------------*/

.header-section {
	padding: 50px 20px 50px 20px;
	background: #f2f7f8;
	/*border-bottom: 1px solid gray;*/
}

/*---------------------
	Copyright section
-----------------------*/

.copyright-section {
	font-size: 14px;
	color: #838488;
	padding: 20px 20px 20px 20px;
}

/*--------------------
    Navigation Bar 
--------------------*/

.navbar {
  background-color: #330066;
  margin-bottom: 20px;
  width: 100%;
  color: white;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover, 
.navbar-default .navbar-nav > li.active > a:focus{
  background-color: rgb(232,232,232);
  font-weight: bold;
} 

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  font-weight: bold; color: white;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu > li.active > a,
.navbar-default .navbar-nav .dropdown .dropdown-menu > li.active > a:hover, 
.navbar-default .navbar-nav .dropdown .dropdown-menu > li.active > a:focus{
  background-color: #2b8cbe; font-weight: bold; color: white;
} 

.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:focus{
  background-color: #a6bddb; font-weight: bold; color: black;
} 

/* HTML active tab for marker page */

.tabbable {
  border: none;
}

.tabbable > .nav > li > a {
	font-size: 14px;
	/*min-width: 213px;
	min-height: 20px;*/
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 2px solid #40424a;
	/*color: #40424a;*/
	font-weight: 700;
}

.tabbable > .nav > li > a:hover{
  background: lightgray; 
}

.tabbable > .nav > li > a:focus{
  background: rgb(209, 68, 20); 
}  

.tabbable > .nav > li[class=active] > a,
.tabbable > .nav > li[class=active] > a:hover, 
.tabbable > .nav > li[class=active] > a:focus{
  background: rgb(209, 68, 20); color: white; font-weight: bold;
}  


/* Site Links */

.site-link {
	display: inline-block;
	font-size: 16px;
	min-width: 50px;
	min-height: 20px;
	margin: 10px 10px 0 0;
	text-align: center;
	position: relative;
	color: #40424a;
	font-weight: 700;
}

a.site-link:focus, a.site-link:hover{
  text-decoration: underline; color: #3182bd;
}

a.site-link[class=active]{
  text-decoration: underline; color: #3182bd
}

/* Morpheus Links */

.morpheus-site-link {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #40424a;
	font-weight: 700;
}

/* Override Table */

.main-table td, th {
	border: 1px solid black; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.main-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
} 

.main-table td:nth-child(1) {
    text-align: center;
    width: 15%;
}

.main-table td:nth-child(2) {
    text-align: center;
    width: 15%;
}

.main-table td:nth-child(3) {
    text-align: left;
}

/* active link */
 a.site-link:hover a.site-link:active {
  color: red;
  font-weight: bold;
}  
  
/* fluid column with same height */

.col-container-1 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-1 > [class*="col-"] {
    float: none;
    display: table-cell;
    padding: 0 0 0 0;
    vertical-align: top;
    width: 100%;
}

.col-container-2 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-2 > [class*="col-"] {
    float: none;
    display: table-cell;
    border: 1px solid lightgray;
    padding: 0 0 0 0;
    vertical-align: top;
    width: 100%;
}

.col-container-3 {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.col-container-3 > [class*="col-"] {
    float: none;
    display: table-cell;
    border: 1px solid lightgray;
    padding: 0 0 0 0;
    vertical-align: top;
    width: 100%;
}
/* panel-group options */

.header-1 {
	margin-bottom: 10px;
}

.header-1 .content{
	overflow: auto;
    padding: 10px 10px 10px 10px;    
    background-color: none;
	z-index: 9999;
}

.header-1 .title{
    max-height: 100px;
    background-color: orange;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* panel-group options */

.header-2 {
	margin-bottom: 10px;
}

.header-2 .content{
	overflow: auto;
	height: 670px;
    padding: 10px 10px 10px 10px;
    background-color: white;
	z-index: 9999;
}

.header-2 .title{
    max-height: 100px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* panel-group options */

.header-3 {
	margin-bottom: 10px;
}

.header-3 .content{
	overflow: auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
	z-index: 9999;
}

.header-3 .title{
    max-height: 100px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid lightgray;
	text-align: left;
}

/* Style the loader */
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

#loading-content {
  position: absolute;
  background: #40424a;
  opacity: 1;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 100px;
  height: 300px;
  text-align: center;
  color: #FFFFFF;
}
